

body {
	font-family:'Cabin', Arial;
	color:#666;
}

.card {
	margin-top:2em;
	border-radius:2px;
	background:#fff;
	border:1px solid #e7e7e7;
}

.ng2-pagination {
	font-size:2em;
	margin-top:30px;
	text-align:center;
}
.svg > svg {
	height:25px;
	opacity:0.75;
}

svg:hover {
	opacity:1;
}
.stats-container {
	padding:0;
}

.stat {
	padding:15px 0 15px 0;
	border:0 solid #333;
	text-align:center;
}

