.dashboard {
	padding:0;
}
.dashboard .signin {
	padding:15px;
}
.register-survivor {
	border-left:1px solid #e7e7e7;
	padding:15px;
	background:#fafafa;
}
.h6 {
	font-weight:700;
	margin-top:0;
}

.stat .form-control {
	width:50%;
	display:inline-block;
}
